<div style="background: black;min-height: 100vh;">
  <mat-toolbar class="topnav">
    <h3>GYIZER</h3>
    <h5>TO DO APP</h5>
  </mat-toolbar>

  <form [formGroup]="taskForm" (ngSubmit)="addtask(taskForm)" class="container">

    <div class="container1" style="margin-top: 3rem;width: 20%;">

      <!-- <mat-form-field class="inputbox" appearance="outline" style="width: 40%;"> -->
      <input placeholder="Title" formControlName="title" class="form-control" style="width: 100%; padding: 0.2rem; background: #1f1e1b; border : 2px solid #a35709;
      border-radius : 2px;color: #f0e3ca;">
      <!-- </mat-form-field> -->

      <!-- <mat-form-field class="inputbox" appearance="outline" style="width: 40%;"> -->
      <input placeholder="Input" formControlName="description" class="form-control" style="width: 100%; padding: 0.2rem;background: #1f1e1b; border : 2px solid #a35709;
        border-radius : 2px;color: #f0e3ca;">
      <!-- </mat-form-field> -->

    </div>

    <div class="iconed" style="justify-content: flex-start;margin-top: 3rem;margin-left: 5px;">
      <button mat-stroked-button type="submit" *ngIf="!editv" [disabled]="!taskForm.valid" (click)="addtask(taskForm)"
        style="height:3rem;width: 3rem;border: 2px solid #ff8303;
      border-radius: 5px;">

        <mat-icon style="color: #ff8303;">add</mat-icon>
      </button>

      <button mat-stroked-button type="submit" *ngIf="editv" [disabled]="!taskForm.valid" (click)="updatetask()" style="height:3rem;width: 3rem;border: 2px solid #ff8303;
      border-radius: 5px;color: #f0e3ca;">
        Update
      </button>

    </div>

  </form>


  <div [ngClass]="count == 0 ? 'taskbox' : 'taskbox1'">

    <div *ngIf='count==0' class="emptybox">
      <div style="background-color: #1f1e1b;">
        <hr style="width:50%;margin: auto;">
        <h2 style="margin-top:.5rem;margin-bottom:.5rem;background-color: #1f1e1b;">No tasks</h2>
        <hr style="width:50%;margin: auto;">
      </div>

    </div>

    <div class="item-box" *ngFor="let item of array; let i=index">
      <div class="taskid">
        <div class="head"><h2>{{ item.title.length > 35 ? item.title.substring(0,20) + '...' : item.title }}</h2>
        </div>

        <div class="about">
          <h6>{{item.description.length > 35 ? item.description.substring(0,20) + '...' : item.description}}</h6>
        </div>
      </div>


      <div class="iconed">

        <button *ngIf="update==false" mat-stroked-button (click)="info()"
          style="border: 2px solid #a35709; border-radius: 1px;">
          <mat-icon style="color: #f0e3ca;">info</mat-icon>
        </button>

        <div class="icons" *ngIf="update">

          <button mat-stroked-button (click)="edittask(i)" style="border: 2px solid #a35709; border-radius: 1px;">
            <mat-icon style="color: #f0e3ca;
           ">edit</mat-icon>
          </button>

          <!-- <button mat-stroked-button (click)="deletetask(i)">
            <mat-icon>info</mat-icon>
          </button> -->
          <button mat-button (click)="openDialog()" style="border: 2px solid #a35709; border-radius: 1px;"> <mat-icon
              style="color: #f0e3ca;">delete_forever</mat-icon></button>

        </div>

      </div>

    </div>

  </div>
</div>